<header>
    <div class="box-header">
      <div class="top-header">
        <div>
          <a href="/"><img class="img-header" src="/images/logo.svg" alt="" /></a>
        </div>
        <a href="register"><i class="far fa-user-circle"></i></a>
      </div>
      <div class="midle-header">
        <div class="search-header">
          <input type="text" placeholder="realizar busqueda" width="50" />
        </div>
        <div class="btn-cart">
          <a href="cart"><button class="btn-header">carrito<i class="fas fa-shopping-cart"></i></button></a>
        </div>
      </div>
      <div class="low-header">
        <ul>
          <li>
            <a href="#">hombre</a>
          </li>
          <li>
            <a href="#">mujer</a>
          </li>
          <li>
            <a href="#">niñ@s</a>
          </li>
        </ul>
        <div class="btn-login">
          <a href="login"><button class="btn-header">ingresar<i class="fas fa-sign-in-alt"></i></button></a>
        </div>
      </div>
    </div>
  </header>