<header>
  <div class="top-header">
    <div>
      <a href="#"><img class="img-header" src="/images/logo.svg" alt="" /></a>
    </div>
    <div class="search-header">
      <input type="text" placeholder="Realizar búsqueda" width="50" />
    </div>
    <div class="icon-register">
      <a href="register"><i class="far fa-user-circle"></i></a>
    </div>
  </div>
  <nav class="nav">
    <ul class="list-1">
      <li>
        <a href="#">hombre</a>
      </li>
      <li>
        <a href="#">mujer</a>
      </li>
      <li>
        <a href="#">niñ@s</a>
      </li>
    </ul>
    <ul class="list-2">
      <div class="btn-login">
        <a href="login"><button class="btn-header">ingresar<i class="fas fa-sign-in-alt"></i></button></a>
      </div>
      <div class="btn-cart">
        <a href="cart"><button class="btn-header">carrito<i class="fas fa-shopping-cart"></i></button></a>
      </div>
    </ul>

  </nav>


  </div>

  </div>
</header>