
<div class="box-product">
    <div class="product-top" id=<%=producto.idProducto%>>
      <h3><%= producto.nombreProducto%> </h3>
      <button class="bottom-product">
        <a href="details">Comprar</a>
      </button>
    </div>
    <a href="details">
      <img src=<%=producto.imagenProducto%> 

    </a>
    
    <p>
      <%=producto.descripcionProducto%>
    </p>
</div>