<div class="box-product">
    <div class="product-top" id=<%=producto.idProducto%>>
      <h3><%= producto.nombreProducto%> </h3>
      <button class="bottom-product">
        <a href="details">Comprar</a>
      </button>
    </div>
    <img src=<%=producto.imagenProducto%> 
    <p>
      <%=producto.descripcionProducto%>
    </p>
  </div>