
<div class="box-product">
    <div class="product-top">
      <h3><%- producto.nombreProd %></h3>
      <button class="bottom-product">
        <a href="details">Comprar</a>
      </button>
    </div>
    <a href="/<%- producto.id %> ">
      <img src="<%- producto.imagenProd %> "> 

    </a>
    
    <p>
      <%- producto.descripcionProd %>
    </p>
</div>