
<div class="box-product">
    <div class="product-top" id=<%=producto.id%>>
      <h3><%= producto.nombreProd%> </h3>
      <button class="bottom-product">
        <a href="details">Comprar</a>
      </button>
    </div>
    <a href="details">
      <img src=<%=producto.imagenProd%> 

    </a>
    
    <p>
      <%=producto.descripcionProd%>
    </p>
</div>