<%- include('partials/head.ejs') %>

<body class="main-edit">
    <main >
        <section>
            <div class="box-addProduct">  
                <form action="/admin/addProd" method="POST" enctype="multipart/form-data">
                        <h3 class="form-item">
                            Nuevo Producto
                        </h3>
                        <div class="form-item">
                            <label>Nombre producto</label>
                            <input type="text" name="Name" placeholder="Nombre producto">
                        </div>
                        <div class="form-item addproduct-description">
                            <label>Descripción</label>
                            <input type="text" name="Descripcion" placeholder="Descripción producto">
                        </div>
                        <div class="form-item">
                            <label>Imagen</label>
                            <input type="file" name="Image" class="is-input" accept=".jpg , .png" >
                        </div>
                        <div class="form-item">
                            <label> Precio </label>
                            <input type="text" name="Precio" class="is-input" placeholder="Precio">
                        </div>
                        <div class="form-item">
                            <div>
                                <button type="submit" class="btn-form">Agregar producto</button>
                            </div>
                        </div>
                </form>
            </div>
        </section>
    </main>
</body>
</html>