<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <title>Iniciar Sesión</title>
</head>

<body>

  <header>
    <div class="box-header">
      <div class="top-header">
        <div>
          <a href="/"><img class="img-header" src="/images/logo.svg" alt="" /></a>
        </div>
        <a href="register"><i class="far fa-user-circle"></i></a>
      </div>
      <div class="midle-header">
        <div class="search-header">
          <input type="text" placeholder="realizar busqueda" width="50" />
        </div>
        <div class="btn-cart">
          <a href="cart"><button class="btn-header">carrito<i class="fas fa-shopping-cart"></i></button></a>
        </div>
      </div>
      <div class="low-header">
        <ul>
          <li>
            <a href="#">hombre</a>
          </li>
          <li>
            <a href="#">mujer</a>
          </li>
          <li>
            <a href="#">niñ@s</a>
          </li>
        </ul>
        <div class="btn-login">
          <a href="login"><button class="btn-header">ingresar<i class="fas fa-sign-in-alt"></i></button></a>
        </div>
      </div>
    </div>
  </header>
  <main class="registro-form">
    <a href="#" class="btn-whatsapp"><i class="fab fa-whatsapp"></i></a>
    <h1>Iniciar sesión</h1>
    <input class='butoms-facebook' type='submit' value='Facebook Login'>
    <input class='butoms-google' type='submit' value='Google Login'>
    <label>Email</label>
    <input class='datos' type='email' name='correo' id='correo'>

    <label>Contraseña</label>
    <input class='datos' type='password' name='correo' id='correo'>

    <input class='butoms' type='submit' value='Inicia sesion'>

    <p>¿No tenes cuenta aun?<a href='./register'>Crear cuenta</a> </p>


  </main>
  <footer>
    <div class="footer-box">
      <div class="footer-items">
        <img class="logo-footer" src="/images/logo.svg">
      </div>
      <div class="footer-items">
        <h2>
          Nosotros
        </h2>
        <p>
          <a href="">Quines somos</a>
        </p>
        <p>
          <a href="">Politicas de privacidad</a>
        </p>
        <p>
          <a href="">Protocolo covid-19</a>
        </p>
        <p>
          <a href="">Terminos y condiciones</a>
        </p>
      </div>
      <div class="footer-items">
        <h2>
          Ayuda
        </h2>
        <p>
          <a href="">preguntas frecuentes</a>
        </p>
        <p>
          <a href="">Medios de pago</a>
        </p>
        <p>
          <a href="">Cambios y devoluciones</a>
        </p>
      </div>
      <div class="footer-items">
        <h2>
          Contactanos
        </h2>
        <p>
          +549123456
        </p>
        <p>
          sneakerscontacto@gmail.com
        </p>
      </div>
      <div class="footer-items">
        <h2>
          seguinos
        </h2>
        <p>
          <a href=""><i class="fab fa-twitter"></i>twitter</a>
        </p>
        <p>
          <a href=""><i class="fab fa-instagram"></i>Intagram</a>
        </p>
      </div>
    </div>
  </footer>

</body>

</html>