

.main-edit{

    color: rgb(22, 20, 20);
    background-image: url("/images/add-edit-product/back-zapas.jpg");
    background-size: 100%;
}
.box-addProduct{
    opacity: 0.8;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.box-addProduct a{
    text-decoration: brown;
}

.form-item{
    
    font-size: 30px;
    color: rgb(5, 5, 5);
    margin-top: 15px;
}

.btn-form{
    border-radius: 10px;

}