
/*=========================
header
==========================*/
.box-header{
    display: block;
    width: 100%;
    height: 45vh;
    background-color: black;
}
.top-header{
    display: flex;
    padding-right: 11%;
    justify-content: space-between;
}

.midle-header{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: -16%;
   
}

.img-header{
    width: 200px;
    height: 200px;
    filter: invert(1) sepia();
    
}


.low-header{
    display: flex;
    padding-left: 76%;
    
    align-items: center;
    margin-top: 10px;
    position: relative;
    top: -15%;
}

.low-header ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    display: none;
    flex-wrap: nowrap;
    
}


.list-enlace ul{
    display: flex;
    margin-top: 50px;
    margin-left: 20px;
    flex-direction: row;
    list-style: none;
}



 .list-enlace ul li a{
    text-decoration: none;
 }

 .box-central{
    display: block;
    margin-left: 0px;
    margin-top: 20px;
    
}

.box-detail{  
    display: block;  
    font-size: 14px;
}

.detail{
    margin-bottom: 5px;
    
}

.button-carrito{
    font-size: 20px;
    color: white;
    background-color:black;
    width: 200px;
    height: 35px;
    border: black solid 1px;
    border-radius:10px ;
    margin-top: 20px;
    
}
 .button-carrito:hover{
     background-color:rgb(61, 59, 59);
    transition: 0.2s;
    
}

.price{
    text-decoration: line-through;
}

.talle{
    width: 120px;
}

.cantidad{
    width: 60px;
}

.img-principal{
    max-width: 300px;
}

.box-mini{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}

.img-mini{
    
    margin-left: -10px;
    max-width: 60px;
}

.box-description{
    display: block;
    margin-left: 30px;
    margin-bottom: 20px;
}

.box-description-2{
    display: flex;
    margin-left: 30px;
}

.detalle-1{
    margin-right: 30px;
}

.descripcion-titulo{
    display: block;
    text-align: center;
}


hr{
    
    background-color: black;
    color:black;
    margin-left: -30px;
    margin-top: 30px;
    margin-bottom: 30px;
}



@media(min-width:480px){
    .box-header{
        height: 40vh;
    }
    .midle-header{
        top:-22%
    }
    .low-header{
        margin-top: 5px;
        padding: 0%;
        justify-content: space-around;
        top: -21%;
        right: 6%;
    
    }
    .low-header ul{
        display: flex;
        flex-direction: row;
    }
    .low-header ul li{
        margin: 9px 67px 0px 0px;
        justify-content: space-around;
    
    }
}
@media(min-width:760px){
    .box-header{
        height: 35vh;
    }

    .top-header{
        justify-content: space-between;
        padding-right: 3%;
    }

    .midle-header{
        top: -120px;
        left: 10%;
    }

    .low-header{
        justify-content: space-around;
        right: -7%;
        top: -100px;
    }

    .btn-header{
        font-family:serif;
        background-color: darkgoldenrod;
        color: crimson;
        font-size: 18px;
        width: 80px;
        height: 30px;
        border-radius: 10%;
    }
}

@media(min-width:1024px){
    .box-header{
        height: 30vh;
    }
}