*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.registro-form{
    width: 50%;
    background:whitesmoke ;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'sans-serif';
    color:black;
}
.registro-form h1 {
    font-size: 50px;
    font-weight: 63px;
    font-family: 'sans-serif';
    margin-bottom: 40px;
    text-align: center;
    
}
.registro-form h2{

  
    font-family: 'sans-serif';
    margin-bottom: 20px;
    text-align: center; 
    color: rgb(90, 90, 90);
}
.registro-form h3{
    margin-bottom: 20px;
    color: rgb(90, 90, 90);
}
.datos {
    width:100%;
    padding:20px;
    border-radius: 50px;
    margin-bottom: 50px;
    border:1px solid grey;
    font-family: 'calibri';
    font-size: 30px;
}

.registro-form p{
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.registro-form a{
    color: black;
    text-decoration: none;
}
.registro-form a:hover {
    color: black;
    text-decoration: underline;
}
.registro-form .butoms {
  width: 100%;
  background: black;
  border-radius: 50px;
  border:none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;

}

section.cart{
    width: 70%;
    background:whitesmoke ;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'sans-serif';
    color:black;
    font-size: 1em;
}

section article.producto{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

section.envio{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    margin-top: 30px;
    border-top: 1px solid black;
    padding-top: 10px;
}

section.total{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

input[type=number] {
    width: 40px;
 }

 .box-central{
    display: block;
    margin-left: 0px;
    margin-top: 100px;
    
}

.box-detail{  
    display: block;  
    font-size: 14px;
    text-align: center;
}

.detail{
    margin-bottom: 5px;
    
}

.button-carrito{
    font-size: 20px;
    color: white;
    background-color:black;
    width: 200px;
    height: 35px;
    border: black solid 1px;
    border-radius:10px ;
    margin-top: 20px;
    
}
 .button-carrito:hover{
     background-color:rgb(61, 59, 59);
    transition: 0.2s;
    
}

.price{
    text-decoration: line-through;
}

.talle{
    width: 120px;
}

.cantidad{
    width: 60px;
}

.img-principal{
    max-width: 300px;
}

.box-mini{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}

.img-mini{
    
    margin-left: -10px;
    max-width: 60px;
}

.box-description{
    display: block;
    margin-left: 30px;
    margin-bottom: 20px;
}

.box-description-2{
    display: flex;
    margin-left: 30px;
}

.detalle-1{
    margin-right: 30px;
}

.descripcion-titulo{
    display: block;
    text-align: center;
}


hr{
    
    background-color: black;
    color:black;
    margin-left: -30px;
    margin-top: 30px;
    margin-bottom: 30px;
}



@media(min-width:480px){
    .img-principal{
        max-width: 500px;
        margin-left: 50px;

    }

    .img-mini{
        margin-left: 20px;
    }

    .descripcion-titulo{
        font-size: 30px;
    }
}

@media(min-width:760px){
    .box-detail{
        margin-left: 160px;
    }
    .box-central{
        display: flex;
        margin-right: 60px;
    }
    
    .box-mini{
        flex-direction: column;
    }
}