<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>


    <body>

        <%- include('partials/header') %>

            <main>
                <a href="#" class="btn-whatsapp"><i class="fab fa-whatsapp"></i></a>
                <section class="cart">
                    <h2>Carrito de Compras <i class="fas fa-shopping-cart"></i></h2>
                    <article class="producto">
                        <div><img class="img-mini" src="/images/imagenes-details/NI_CK3022-301-1.jpeg" alt=""></div>
                        <div>Zapatillas Nike</div>
                        <div>$ 29.99</div>
                        <div class="carrito-numero"><input type="number" min="0"></div>
                    </article>
                    <article class="producto">
                        <div><img class="img-mini" src="/images/imagenes-details/zapa-nb.png" alt=""></div>
                        <div>Zapatillas NB</div>
                        <div>$ 40.00</div>
                        <div class="carrito-numero"><input type="number" min="0"></div>
                    </article>
                    <article class="producto">
                        <div><img class="img-mini" src="/images/imagenes-details/zapa-nike.png" alt=""></div>
                        <div>Zapatillas Nike</div>
                        <div>$ 20.00</div>
                        <div class="carrito-numero"><input type="number" min="0"></div>
                    </article>
                    <section class="envio">
                        <div>Costo de Envío</div>
                        <div>$100</div>
                    </section>
                    <section class="total">
                        <div>Total</div>
                        <div>$189.99</div>
                    </section>

                </section>
            </main>

            <%- include('partials/footer') %>

    </body>

</html>