<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Carrito de Compras</title>
</head>

<body>
    <main>
        <section class="cart">
            <h2>Carrito de Compras <i class="fas fa-shopping-cart"></i></h2>
            <article class="producto">
                <div><i class="fas fa-square"></i></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <div>$ 29.99</div>
                <div><input type="number"></div>
            </article>
            <article class="producto">
                <div><i class="fas fa-square"></i></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <div>$ 40.00</div>
                <div><input type="number"></div>
            </article>
            <article class="producto">
                <div><i class="fas fa-square"></i></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <div>$ 20.00</div>
                <div><input type="number"></div>
            </article>
            <section class="envio">
                <div>Costo de Envio</div>
                <div>$100</div>
            </section>
            <section class="total">
                <div>Total</div>
                <div>$189.99</div>
            </section>

        </section>
    </main>
</body>

</html>