<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="../css/styles.css">
    <title>Document</title>
</head>
<body>
    <main class ='registro-form'>
    <h1>Crear cuenta</h1>
    <h2>Comprá más rápido y llevá el control de tus pedidos, ¡en un solo lugar!</h2>
    <h3>Nombre y apelldio</h3>
    <input class='datos' type='text' name='nombres'id='nombres' placeholder='ej: Anael Torres'>
    <h3>Email</h3>
    <input class='datos' type='email' name='correo'id='correo' placeholder='ej: sneakers@gmail.com'>
    <h3>Telefono (opcional)</h3>
    <input class='datos' type='number' name='telefono'id='telefono' placeholder='ej: 1133228700'>
    <h3>Contraseña</h3>
    <input class='datos' type='password' name='correo'id='correo' placeholder='Ingresa su contraseña'>
    <input class='butoms' type='submit'  value='Registrar'>
    <p>¿Ya tenes una cuenta?<a href='#'>Inicia sesion</a> </p>





    </main>
    
</body>
</html>