<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="../css/styles.css">
    <title>Registro</title>
</head>
<body>
    <main class ='registro-form'>
    <h1>Crear cuenta</h1>
    <h2>Comprá más rápido y llevá el control de tus pedidos, ¡en un solo lugar!</h2>
    <label>Nombre y apelldio</label>
    <input class='datos' type='text' name='nombres'id='nombres' placeholder='ej: Anael Torres'>
    <label>Email</label>
    <input class='datos' type='email' name='correo'id='correo' placeholder='ej: sneakers@gmail.com'>
    <label>Telefono (opcional)</label>
    <input class='datos' type='text' name='telefono'id='telefono' placeholder='ej: 1133228700'>
    <label>Contraseña</label>
    <input class='datos' type='password' name='correo'id='correo' placeholder='Ingresa su contraseña'>
    <input class='butoms' type='submit'  value='Registrar'>
    <p>¿Ya tenes una cuenta?<a href='#'>Inicia sesion</a> </p>
    </main>
    <footer>
        <div class="footer-box">
          <div class="footer-items">
            <img class="logo-footer" src="/images/logo.svg">
          </div>
          <div class="footer-items">
            <h2>
              Nosotros
            </h2>
            <p>
              <a href="">Quines somos</a>
            </p>
            <p>
              <a href="">Politicas de privacidad</a>
            </p>
            <p>
              <a href="">Protocolo covid-19</a>
            </p>
            <p>
              <a href="">Terminos y condiciones</a>
            </p>
          </div>
          <div class="footer-items">
            <h2>
              Ayuda
            </h2>
            <p>
              <a href="">preguntas frecuentes</a>
            </p>
            <p>
              <a href="">Medios de pago</a>
            </p>
            <p>
              <a href="">Cambios y devoluciones</a>
            </p>
            <p>
              <a href="">Medios de pago</a>
            </p>
          </div>
          <div class="footer-items">
            <h2>
              Contactanos
            </h2>
            <p>
              +549123456
            </p>
            <p>
              sneakerscontacto@gmail.com
            </p>
          </div>
          <div class="footer-items">
            <h2>
              seguinos
            </h2>
            <p>
              <a href=""><i class="fab fa-twitter"></i>twitter</a>  
            </p>
            <p>
              <a href=""><i class="fab fa-instagram"></i>Intagram</a>
            </p>
          </div>
        </div>
      </footer>
    
</body>
</html>